# Vegetable price Analysis
An analysis of vegetable price for the year 2023

How are the prices change over time

In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
from datetime import date

In [29]:
df = pd.read_csv('prices.csv')
df

,Price Dates,Bhindi (Ladies finger),Tomato,Onion,Potato,Brinjal,Garlic,Peas,Methi,Green Chilli,Elephant Yam (Suran)
0,01-01-2023,35.0,18,22.0,20,30,50,25,8,45.0,25
1,02-01-2023,35.0,16,22.0,20,30,55,25,7,40.0,25
2,03-01-2023,35.0,16,21.0,20,30,55,25,7,40.0,25
3,04-01-2023,30.0,16,21.0,22,25,55,25,7,40.0,25
4,08-01-2023,35.0,16,20.0,21,25,55,22,6,35.0,25
...,...,...,...,...,...,...,...,...,...,...,...
282,27-12-2023,45.0,16,30.0,20,70,260,40,16,40.0,25
283,28-12-2023,45.0,16,30.0,20,70,260,30,20,45.0,25
284,29-12-2023,45.0,16,30.0,22,80,260,30,18,50.0,25
285,31-12-2023,45.0,16,26.0,20,60,250,40,16,50.0,40
286,01-01-2024,45.0,16,9.0,18,50,260,40,15,60.0,25

In [5]:
#Check data types, entries and columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Price Dates             287 non-null    object
 1   Bhindi (Ladies finger)  287 non-null    float64
 2   Tomato                  287 non-null    int64
 3   Onion                   287 non-null    float64
 4   Potato                  287 non-null    int64
 5   Brinjal                 287 non-null    int64
 6   Garlic                  287 non-null    int64
 7   Peas                    287 non-null    int64
 8   Methi                   287 non-null    int64
 9   Green Chilli            287 non-null    float64
 10  Elephant Yam (Suran)    287 non-null    int64
dtypes: float64(3), int64(7), object(1)
memory usage: 24.8+ KB

In [6]:
# summary statistics of all columns
df.describe()

,Bhindi (Ladies finger),Tomato,Onion,Potato,Brinjal,Garlic,Peas,Methi,Green Chilli,Elephant Yam (Suran)
count,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000
mean,29.444251,16.006969,20.649826,18.585366,31.655052,133.101045,66.658537,20.383275,44.122404,28.797909
std,8.124815,0.118056,11.711204,2.726238,11.725421,60.078331,33.302415,117.428417,12.796590,6.607973
min,17.000000,16.000000,8.000000,12.000000,14.000000,50.000000,22.000000,5.000000,0.130000,12.000000
25%,22.000000,16.000000,12.000000,16.000000,25.000000,85.000000,40.000000,8.000000,35.000000,25.000000
50%,27.500000,16.000000,16.000000,20.000000,30.000000,120.000000,60.000000,12.000000,40.000000,30.000000
75%,33.000000,16.000000,25.000000,20.000000,35.000000,165.000000,80.000000,16.000000,50.000000,30.000000
max,60.000000,18.000000,57.000000,24.000000,80.000000,290.000000,150.000000,2000.000000,90.000000,50.000000

In [27]:
# Checking for missing data
df.isnull().any(axis=0).sum() # for columns
df.isnull().any(axis=1).sum() # for rows
df.isnull().sum()

Price Dates               0
Bhindi (Ladies finger)    0
Tomato                    0
Onion                     0
Potato                    0
Brinjal                   0
Garlic                    0
Peas                      0
Methi                     0
Green Chilli              0
Elephant Yam (Suran)      0
dtype: int64

In [8]:
df.kurtosis(numeric_only=True)

Bhindi (Ladies finger)      0.362337
Tomato                    287.000000
Onion                       0.692638
Potato                     -0.731091
Brinjal                     2.857873
Garlic                     -0.008867
Peas                       -0.412516
Methi                     285.356077
Green Chilli                2.141107
Elephant Yam (Suran)        0.930687
dtype: float64

In [42]:
# Check for duplicates
df['Dups'] = df.duplicated()
df

,Price Dates,Bhindi (Ladies finger),Tomato,Onion,Potato,Brinjal,Garlic,Peas,Methi,Green Chilli,Elephant Yam (Suran),Dups,Change
0,01-01-2023,35.0,18,22.0,20,30,50,25,8,45.0,25,False,0
1,02-01-2023,35.0,16,22.0,20,30,55,25,7,40.0,25,False,0
2,03-01-2023,35.0,16,21.0,20,30,55,25,7,40.0,25,False,0
3,04-01-2023,30.0,16,21.0,22,25,55,25,7,40.0,25,False,0
4,08-01-2023,35.0,16,20.0,21,25,55,22,6,35.0,25,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,27-12-2023,45.0,16,30.0,20,70,260,40,16,40.0,25,False,0
283,28-12-2023,45.0,16,30.0,20,70,260,30,20,45.0,25,False,0
284,29-12-2023,45.0,16,30.0,22,80,260,30,18,50.0,25,False,0
285,31-12-2023,45.0,16,26.0,20,60,250,40,16,50.0,40,False,0
286,01-01-2024,45.0,16,9.0,18,50,260,40,15,60.0,25,False,0

In [ ]:
# check for duplicates
def check_dups(x):

    if x is True:
        return 1
    else:
        return 0

In [ ]:
# check for duplicates
df["Change"] = df['Dups'].apply(check_dups)
df['Change'].sum()

0

# EDA
Peforming Exploratory Data Analysis

In [ ]:
def to_date(x):
    newdate = date(x)
    str_date = newdate.strftime('%Y-%m-%d')
    return str_date

df['Date'] = df['Price Dates'].apply(to_date)

NameError: name 'date' is not defined